# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/
flutter_*.png

# Flutter platform artifacts
**/android/.gradle/
**/android/**/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt
**/android/**/key.properties
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/**/gradle-wrapper.jar
**/ios/**/Pods/
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral
**/ios/**/DerivedData/
**/macos/**/Pods/
**/macos/**/Flutter/ephemeral
**/windows/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugin_registrant.*

# .NET
bin/
obj/
TestResults/
.vs/
**/*.db
**/*.db-shm
**/*.db-wal

# IDEs
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
